### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
from functools import reduce

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
#print(purchase_data.head(3))

## Player Count

* Display the total number of players

In [3]:
total_players = purchase_data["SN"].nunique()
#print(f'Total Number of Players: {total_players}')

In [4]:
item_count = purchase_data["Item ID"].nunique()
print(f'Number of Unique Items: {item_count}')

Number of Unique Items: 183

In [5]:
average_price = round(purchase_data["Price"].mean(),2)
#print(f'Average Price: ${average_price}')

In [6]:
purchase_count = purchase_data["Purchase ID"].count()
#print(f'Number of Purchases: {purchase_count}')

In [7]:
total_revenue = purchase_data["Price"].sum()
#print(f'Total Revenue: ${total_revenue}')

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
purchasingAnalysisTotal = pd.DataFrame({
    "Total Number of Players:" : [total_players], 
    "Number of Unique Items" : [item_count], 
    "Average Price" : [average_price],
    "Number of Purchases" : [purchase_count],
    "Total Revenue": [total_revenue]})    
purchasingAnalysisTotal

,Total Number of Players:,Number of Unique Items,Average Price,Number of Purchases,Total Revenue
0,576,183,3.05,780,2379.77

## Gender Demographics

In [9]:
gender_group = purchase_data.groupby(['Gender'])
#print(gender_group.head())

In [10]:
unique_sn = gender_group["SN"].nunique()
print(unique_sn)

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [11]:
unique_sn_rate = round(unique_sn/total_players*100,2)
print(unique_sn_rate)

Gender
Female                   14.06
Male                     84.03
Other / Non-Disclosed     1.91
Name: SN, dtype: float64

In [12]:
#-----not working-----
genderAnalysis = pd.DataFrame({
    "Total Count:" : [unique_sn], 
    "Percentage of Players" : [unique_sn_rate]})    
genderAnalysis

,Total Count:,Percentage of Players
0,Gender Female 81 Male ...,Gender Female 14.06 Male ...

In [13]:
purchase_count = gender_group["SN"].count()
#print(purchase_count)

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [14]:
#Average Purchase Price
avg_purchage_price = round(gender_group["Price"].mean(),2)
#print(avg_purchage_price)

In [15]:
#Total Purchase Value
total_purchase = gender_group["Price"].sum()
#print(total_purchase)

In [16]:
#Avg Total Purchase per Person
avg_total = round(total_purchase/unique_sn,2)
#print(avg_total)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
purchasingAnalysisGender = pd.DataFrame({
    "Purchase Count:" : purchase_count, 
    "Average Purchase Price" : avg_purchage_price, 
    "Total Purchase Value" : total_purchase,
    "Avg Total Purchase per Person" : avg_total}) 
purchasingAnalysisGender

,Purchase Count:,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [18]:
bins = [0,9,14,19,24,29,34,39,46]     
group_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

purchase_data["ageGroups"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
#print(purchase_data)

# GroupBy ageGroups
age_group = purchase_data.groupby(['ageGroups'])
#print(age_group.head(3))

In [19]:
age_group_count = age_group["SN"].nunique()
#print(age_group_count)

In [20]:
age_group_count_rate = round(age_group_count/total_players*100,2)
#print(age_group_count_rate)

In [21]:
age_group_purchase = age_group["Age"].count()
#print(age_group_purchase)

In [22]:
age_group_average = round(age_group["Price"].mean(),2)
#print(age_group_average)

In [23]:
age_group_total = age_group["Price"].sum()
#print(age_group_total)

In [24]:
age_group_avg_total = round(age_group_total/age_group_count,2)
#print(age_group_avg_total)

In [25]:
genderDemographics = pd.DataFrame({
    "Total Count:" : age_group_purchase, 
    "Percentage of Players" : age_group_average})   
genderDemographics

           Total Count:  Percentage of Players
ageGroups
<10                  23                   3.35
10-14                28                   2.96
15-19               136                   3.04
20-24               365                   3.05
25-29               101                   2.90
30-34                73                   2.93
35-39                41                   3.60
40+                  13                   2.94

## Purchasing Analysis (Age)

In [26]:
#Age demo purchase count
age_purch_count = age_group["SN"].count()
#print(age_purch_count)

In [27]:
#Average Purchase Price
age_purc_average = round(age_group["Price"].mean(),2)
#print(age_purc_average)

In [28]:
#Total Purchase Value
age_total_purch = age_group["Price"].sum()
#print(age_total_purch)

In [29]:
#Avg Total Purchase per Person 
avg_total_per_person = round(age_total_purch/age_group_count,2)
print(avg_total_per_person)

ageGroups
<10      4.54
10-14    3.76
15-19    3.86
20-24    4.32
25-29    3.81
30-34    4.12
35-39    4.76
40+      3.19
dtype: float64

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:
purchasingAnalysisAge = pd.DataFrame({
    "Purchase Count:" : age_purch_count, 
    "Average Purchase Price" : age_purc_average, 
    "Total Purchase Value" : age_total_purch,
    "Avg Total Purchase per Person" : avg_total_per_person}) 
purchasingAnalysisAge

,Purchase Count:,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
ageGroups,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:
sn_group = purchase_data.groupby(["SN"])
#print(sn_group.head())

In [32]:
# Purchase Count
sn_group_count = sn_group["Purchase ID"].nunique()
#print(sn_group_count)

In [33]:
#Average Purchase Price
sn_group_average = round(sn_group["Price"].mean(),2)
#print(sn_group_average)

In [34]:
#Total Purchase Value
sn_group_total = sn_group["Price"].sum()
#print(sn_group_total)

In [35]:
sn_group_top = sn_group_total.nlargest(5) 
print(sn_group_top)

SN
Lisosia93      18.96
Idastidru52    15.45
Chamjask73     13.83
Iral74         13.62
Iskadarya95    13.10
Name: Price, dtype: float64

In [36]:
#summary_df5 = pd.DataFrame({
#    "Purchase Count:" : sn_group_count, 
#    "Average Purchase Price" : sn_group_average, 
#    "Total Purchase Value" : sn_group_top}) 
#summary_df5

In [37]:
topSpenders = reduce(lambda x,y: pd.merge(x,y, on="SN"), [sn_group_count, sn_group_average, sn_group_top])
topSpenders

             Purchase ID  Price_x  Price_y
SN
Chamjask73             3     4.61    13.83
Idastidru52            4     3.86    15.45
Iral74                 4     3.40    13.62
Iskadarya95            3     4.37    13.10
Lisosia93              5     3.79    18.96

In [38]:
# Rename columns so that they are differentiated
topSpenders = topSpenders.rename(columns={"Purchase ID": "Purchase ID", "Price_x": "Average Purchase Price", "Price_y": "Total Purchase Value"})
topSpenders

             Purchase ID  Average Purchase Price  Total Purchase Value
SN
Chamjask73             3                    4.61                 13.83
Idastidru52            4                    3.86                 15.45
Iral74                 4                    3.40                 13.62
Iskadarya95            3                    4.37                 13.10
Lisosia93              5                    3.79                 18.96

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [39]:
#Group by Item ID
item_group = purchase_data.groupby(["Item ID", "Item Name"])
#print(item_group.head())

In [40]:
#Purchase Count
item_group_count = item_group["Purchase ID"].count()
#print(item_group_count)

In [41]:
item_group_price = item_group["Price"].unique()
#print(item_group_price)

In [42]:
#Total Purchase Value
item_group_total = item_group["Price"].sum()#
#print(item_group_total)

In [43]:
mostPopularItems = pd.DataFrame({
    "Purchase Count:" : item_group_count, 
    "Item Price" : item_group_price, 
    "Total Purchase Value" : item_group_total}) 
#mostPopularItems.head()

In [44]:
#-----Not worl=king-----
# sorting in descending order 
mostPopularItems.sort_values(by="Total Purchase Value", ascending = False)  
# displaying top 5 values 
mostPopularItems #.head()

,,Purchase Count:,Item Price,Total Purchase Value
Item ID,Item Name,,,
0,Splinter,4,[1.28],5.12
1,Crucifer,3,[3.26],9.78
2,Verdict,6,[2.48],14.88
3,Phantomlight,6,[2.49],14.94
4,Bloodlord's Fetish,5,[1.7],8.50
5,Putrid Fan,4,[4.08],16.32
6,Rusty Skull,2,[3.7],7.40
7,"Thorn, Satchel of Dark Souls",7,[1.33],9.31
8,"Purgatory, Gem of Regret",3,[3.93],11.79
9,"Thorn, Conqueror of the Corrupted",4,[2.73],10.92
10,Sleepwalker,4,[1.79],7.16
11,Brimstone,5,[3.65],18.25
12,Dawne,6,[1.02],6.12
13,Serenity,4,[1.41],5.64
14,Possessed Core,2,[2.61],5.22
15,Soul Infused Crystal,5,[2.96],14.80
16,Restored Bauble,4,[3.55],14.20
17,"Lazarus, Terror of the Earth",4,[1.7],6.80
18,"Torchlight, Bond of Storms",2,[4.65],9.30
19,"Pursuit, Cudgel of Necromancy",8,[1.02],8.16
20,Netherbane,5,[3.27],16.35
21,Souleater,5,[1.1],5.50
22,Amnesia,6,[2.18],13.08
23,Crucifer,1,[1.99],1.99
24,Warped Fetish,5,[3.81],19.05
25,Hero Cane,6,[4.35],26.10
26,Unholy Wand,2,[1.12],2.24
27,"Riddle, Tribute of Ended Dreams",1,[3.3],3.30
28,"Flux, Destroyer of Due Diligence",2,[1.06],2.12
29,"Chaos, Ender of the End",5,[1.98],9.90
...,...,...,...,...
154,Feral Katana,4,[4.4],17.60
155,War-Forged Gold Deflector,5,[1.01],5.05
156,Soul-Forged Steel Shortsword,5,[1.77],8.85
157,"Spada, Etcher of Hatred",4,[4.8],19.20
158,"Darkheart, Butcher of the Champion",2,[2.45],4.90
159,"Oathbreaker, Spellblade of Trials",7,[3.08],21.56
160,Azurewrath,6,[4.4],26.40
161,Devine,5,[1.76],8.80
162,Abyssal Shard,5,[2.67],13.35
163,Thunderfury Scimitar,5,[3.45],17.25
164,Exiled Doomblade,7,[1.63],11.41
165,Bone Crushing Silver Skewer,4,[4.86],19.44
166,Thirsty Iron Reaver,3,[3.07],9.21
167,"Malice, Legacy of the Queen",4,[3.61],14.44
168,"Sun Strike, Jaws of Twisted Visions",2,[1.48],2.96
169,"Interrogator, Blood Blade of the Queen",4,[2.18],8.72
170,Shadowsteel,4,[3.97],15.88
171,Scalpel,3,[1.79],5.37
172,Blade of the Grave,4,[3.14],12.56
173,Stormfury Longsword,2,[4.93],9.86
174,Primitive Blade,4,[3.47],13.88
175,Woeful Adamantite Claymore,3,[4.48],13.44
176,Relentless Iron Skewer,2,[2.84],5.68
177,"Winterthorn, Defender of Shifting Worlds",2,[2.08],4.16
178,"Oathbreaker, Last Hope of the Breaking Storm",12,[4.23],50.76
179,"Wolf, Promise of the Moonwalker",6,[4.48],26.88
180,Stormcaller,1,[3.36],3.36
181,Reaper's Toll,5,[1.66],8.30
182,Toothpick,3,[4.03],12.09
183,Dragon's Greatsword,3,[1.09],3.27

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame